@font-face {
  font-family: 'Pop-Gothic';
  font-weight: normal;
  src: url(./PopGothicCjkTc-Regular.woff2);
}
@font-face {
  font-family: 'Pop-Gothic';
  font-weight: bold;
  src: url(./PopGothicCjkTc-Bold.woff2);
}
