@import "./font.css";

body {
  font-family: 'Comic Sans MS', 'Pop-gothic', 'Noto Sans TC', 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Microsoft JhengHe', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: var(--ep-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}